body {
   background-color: #0e1525;   
}

.page {
    width: 80%;
    max-width: 960px;
    margin: 50px auto;
    text-align: center;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

header{
    border-bottom: 1px #404a62 solid;
    margin-bottom: 50px;
}

.header{
    font-size: 60px;
    color:#b3c5ef
}

.subHeader{
    font-size:30px;
    color: #b3c5ef;
}

.date{
    font-size: 40px;
    color: #b3c5ef;
    margin-bottom: 30px;
}



.clock{
    font-size: 100px;
    color: #b3c5ef
}

.changeImage{
    width: 100%;
    height: auto;
}

.setTime-tittle{
    color: #b3c5ef;
}

.setTime-select{
    display: flex;
    flex-direction: row;

}

.setTime-select div p{
    color:#b3c5ef;
}

.setTime-select .hours{
    margin-right:20px;
}

.setTime-select .hours,
.setTime-select .minutes{
    flex-grow: 1;
    text-align: left;
}

.setTime-select .hours .setHour,
.setTime-select .minutes .setMinute{
    width: 100%;
    text-align: left;
    background-color: #0f1729;
    color:#b3c5ef;
    font-size: 15px;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    scrollbar-color: #0f1729;
    border: 1px solid #303a51;
    outline: none;
}

.setTime-select .hours .setHour:focus,
.setTime-select .minutes .setMinute:focus{
    border: 3px solid #2563eb;
}

.setTime-select .hours .setHour option,
.setTime-select .minutes .setMinute option{
    font-size: 15px;
    padding: 10px 50px
}

/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #0f1729;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }



.alertMusic-tittle,
.noticeAlert-tittle,
.showAlert-tittle,
.showAlert-elapse,
.showAlert-note{
    text-align: left;
    color: #b3c5ef;
}

.alertMusic .music{
    width: 100%;
    text-align: left;
    background-color: #0f1729;
    color:#b3c5ef;
    height: 50px;
    font-size: 15px;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    scrollbar-color: #0f1729;
    border: 1px solid #303a51;
}

.noticeAlert-input{
    width: 100%;
    text-align: left;
    background-color: #0f1729;
    box-sizing: border-box;
    color:#b3c5ef;
    height: 50px;
    font-size: 15px;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    scrollbar-color: #0f1729;
    border: 1px solid #303a51;
}

.setAlert{
    background-color: #3abff8;
    margin-top: 30px;
    width: 100%;
    font-size: 35px;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color:#fff;
}

.layout{
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display:none;
    align-items: center;
}

.layout-content{
    width: 70% ;
    background-color:#0f1729;
    height: 30%;
    margin : 0 auto;
}

.layout-content-tittle,
.layout-content-notice{
    color:#b3c5ef
}

.layout-btn{
    color: #fff;
    background-color: #3abff8;
    width: 30%;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    display: block;
    transition: transform 0.1s linear;
}

.layout-btn:hover{
    opacity: 0.8;
    cursor: pointer;
    transform: scale(1.1);

}

